<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maxsets.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maxsets.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MaxSets</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MaxSets</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kszbsviwih.database.windows.net,1433;Initial Catalog=MaxSets_db;User ID=MaxSetsAdmin@kszbsviwih;Password=1qaz@WSX" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MaxLifts.Models.ApplicationDbContext, MaxLifts" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MaxLiftsContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:kszbsviwih.database.windows.net,1433;Initial Catalog=MaxSets_db;User ID=MaxSetsAdmin@kszbsviwih;Password=1qaz@WSX" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MaxLifts.DAL.MaxLiftsContext, MaxLifts" MigrationConfiguration="MaxLifts.Migrations.Configuration, MaxLifts" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kszbsviwih.database.windows.net,1433;Initial Catalog=MaxSets_db;User ID=MaxSetsAdmin@kszbsviwih;Password=1qaz@WSX</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MaxLiftsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kszbsviwih.database.windows.net,1433;Initial Catalog=MaxSets_db;User ID=MaxSetsAdmin@kszbsviwih;Password=1qaz@WSX</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="MaxLiftsContext" />
  </ItemGroup>
</Project>